.container {
  height: 100px;
/* overflow: hidden; */
}
.container:hover > .item:nth-child(1) {
top: 10px;
}
.container:hover>.item:nth-child(2) {
  top: 20px;
}
.container:hover>.item:nth-child(3) {
  top: 30px;
}
.container:hover>.item:nth-child(4) {
  top: 40px;
}
.container:hover>.item:nth-child(5) {
  top: 50px;
}
.item {
  width: 100px;
  height: 100px;
  top:0;
  border-radius: 50%;
  float: left;
  position: relative;
  transition: all .5s;
}
.item:nth-child(1) {
  background-color: red;
}
.item:nth-child(2) {
  background-color: rgb(0, 255, 0);
}
.item:nth-child(3) {
  background-color: rgb(255, 0, 234);
}
.item:nth-child(4) {
  background-color: rgb(255, 230, 0);
}
.item:nth-child(5) {
  background-color: rgb(68, 0, 255);
}