body {
  background-color: #131313;
  color: white;
  font-family: 'Montserrat',
  sans-serif;
  padding: 15px;
  margin: 0;
  
  

}
a {
  text-decoration: none;
}

/* HEADER */
header {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #272727;

}

/* .container {
  width: 1160px;
} */
.logo {
  /* text-decoration: none; */
  color: #1ACD4C;
  font-family: 'Caveat',
  cursive;
  font-weight: 400px;
  font-style: normal;
  font-size: 30px;
  margin-right: 25px;
}
.numcard{
  font-size: 16px;
  margin-right: 95px;
}
.menu {
  list-style: none;
  display: inline-flex;
  
}
.menu > li {
  margin-right: 15px;
}
.menu a {
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
text-transform: uppercase;
color: white;

}
li .active {
  color: #272727;
}
.navigation {
  display: inline-flex;
}


/* TABLE */
main {
  width: 80%;
  margin: 0 auto;
}
.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  padding-top: 91px;
  margin-top: 0;
  margin-bottom: 30px;
}

table {
  width: 1100px;
  border-collapse: collapse;
  
}

tbody {
  border-left: 1px solid #272727;
  border-right: 1px solid #272727;
}

th {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #727272;
  padding-bottom: 17px;
  text-align: left;
  
}

td {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 17px;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
}

/* PAGINATION */
.pagination {
  list-style: none;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  
}
.pagination li {
  margin-right: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
li.active {
  color: #4F4F4F;
}
li.prev {
  color: #272727;
}
li.next {
  color: white;
}